[defaults]
retry_files_enabled = True
retry_files_save_path =
stdout_callback = yaml

[ssh_connection]
ssh_args=-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=50
#ssh_args=-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=50 -F sshconfig
