Privilege Escalation
DDoS attempt at Data center
unauthorized data export
DNS cache poisoning
VP LinkedIn account hacked
Accidental VLAN bridging
abnormal application utilization
External ping sweep (recon)
Database moved
Whale phishing attack
Possible Spear phishing attack
NAC port violation: attempted connection