Privilege Escalation
Man in the middle attack
IP spoofing
acceptable use policy violation
VP LinkedIn account hacked
impersonation attempt
Unauthorized access to data center
DNS attack: zone transfer
External ping sweep (recon)
Whale phishing attack
SPAM attack
email open relay
OEM Java vulnerability