b7e9e843c0a8aaaaaaaaaaaaaaaaa2b5,Apple,b7e9e843c0a8aaaaaaaaaaaaaaaaa2b5,Apple,ffa9ac0daaaaaaaaaaaaaaaaaaaa5dd9,P1000488 - Apple MacBook Pro 15
b7e7d7d8c0a8bbbbbbbbbbbbbbbbbe5c,Dell Inc.,b7e7d7d8c0a8bbbbbbbbbbbbbbbbbe5c,Dell Inc.,fea9a04bbbbbbbbbbbbbbbbbbbbd3727,P1000250 - Dell Inc. PowerEdge T610
aa0a6df8c611ccccccccccccccccc0ac,Lenovo,aa0a6df8c611ccccccccccccccccc0ac,Lenovo,ffc1fcccccccccccccccccccca8e5df0,P1000234 - Lenovo ThinkStation S20
b7e7c073c0a8ddddddddddddddddd408,IBM,b7e7c073c0a8ddddddddddddddddd408,IBM,ffa9edddddddddddddddddddd40e5d7e,P1000465 - IBM Thinkpad T20
7aae6bacc611eeeeeeeeeeeeeeeee1b6,Sony,7aae6bacc611eeeeeeeeeeeeeeeee1b6,Sony,fec1baeeeeeeeeeeeeeeeeeeee883d98,P1000178 - Sony VAIO SA Series
add7b97737e3fffffffffffffffffd96,iBUYPOWER,add7b97737e3fffffffffffffffffd96,Amazon,fec1baffffffffffffffffffff885d7a,P1000041 - iBUYPOWER Gamer Supreme
a4bfed3737e4gggggggggggggggggdbe,Asus,a4bfed3737e4gggggggggggggggggdbe,Asus,efc1fagggggggggggggggggggg883d98,P1000195 - Asus G Series
b7eafc3ec0a8hhhhhhhhhhhhhhhhh209,Gateway,b7eafc3ec0a8hhhhhhhhhhhhhhhhh209,Gateway,c3c1bhhhhhhhhhhhhhhhhhhhha8837b5,P1000096 - Gateway ZX Series
b9eabd7737e3iiiiiiiiiiiiiiiiid10,Cyberpower,b9eabd7737e3iiiiiiiiiiiiiiiiid10,Cyberpower,9fc1faiiiiiiiiiiiiiiiiiiii8835d11,P1000065 - Cyberpower Gamer Ultra 2103
b7eb1ab7c0a8jjjjjjjjjjjjjjjjjac0,Toshiba,b7eb1ab7c0a8jjjjjjjjjjjjjjjjjac0,Toshiba,03c1bajjjjjjjjjjjjjjjjjjjj885dc3,P1000153 - Toshiba Portege R835-P81