2aaaaaaaadhedhjiwuhjkbdjwb888888,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,,processed,incident,delete,text_index
3aaaaaaaadhedhjiwuhjkbdjwb888888,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,incident,processed,hold_reason,update,text_index
4aaaaaaaadhedhjiwuhjkbdjwb888888,admin,incident.do?sys_id=2aaaaaaaadhedhjiwuhjkbdjwb888888&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.updated,incident,processed,6816f79cc0a8016401c5a33be04be441,admin,
5aaaaaaaadhedhjiwuhjkbdjwb888888,admin,incident.do?sys_id=2aaaaaaaadhedhjiwuhjkbdjwb888888&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,notification_engine.process,incident,processed,8f9389b5c0a8016401715c208ff9bf48,6816f79cc0a8016401c5a33be04be441,
6aaaaaaaadhedhjiwuhjkbdjwb888888,admin,incident.do?sys_id=2aaaaaaaadhedhjiwuhjkbdjwb888888&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,active,0,metric_update
3aaaaaaaadhedhjiwuhjkbdjwb888888,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,incident,processed,upon_reject,insert,text_index
7aaaaaaaadhedhjiwuhjkbdjwb888888,admin,incident.do?sys_id=2aaaaaaaadhedhjiwuhjkbdjwb888888&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,notification_engine.process,incident,processed,0d539c30c0a80164013cc05fcf7e5573,6816f79cc0a8016401c5a33be04be441,
8aaaaaaaadhedhjiwuhjkbdjwb888888,admin,incident.do?sys_id=2aaaaaaaadhedhjiwuhjkbdjwb888888&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.inserted,incident,processed,6816f79cc0a8016401c5a33be04be441,admin,
9aaaaaaaadhedhjiwuhjkbdjwb888888,system,,system,system,system,incident.inactivity,incident,queued.30b35203db230300e95a755a8c96193d,34a17cb4c61122b7006b897258cbd702,,
1aaaaaaaadhedhjiwuhjkbdjwb888888,admin,change_request.do?sys_id=37267c12db75cf00a81ad11c5e96195b&sysparm_stack=change_request_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,user.view,change_request,processed,,,
1aaaaaaaadhedhjiwuhjkbdjwb888881,admin,cmdb_ci_vmware_instance.do?sys_id=7716091adb75cf00a81ad11c5e9619f8&sysparm_stack=cmdb_ci_vmware_instance_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,user.view,cmdb_ci_vmware_instance,queued.30b35203db230300e95a755a8c96193d,,,
1aaaaaaaadhedhjiwuhjkbdjwb888882,admin,cmdb_ci_vmware_instance.do?sys_id=7716091adb75cf00a81ad11c5e9619f8&sysparm_stack=cmdb_ci_vmware_instance_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,user.view,cmdb_ci_vmware_instance,processed,,,
,guest,,guest,system,guest,login.failed,,processed,admin,10.11.36.1,
1aaaaaaaadhedhjiwuhjkbdjwb888883,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb388880&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,user.view,incident,processed,,,
,system,,system,system,system,snc.subscription.download.completed,,processed,,,
1aaaaaaaadhedhjiwuhjkbdjwb888884,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,,processed,incident,delete,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888885,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,,processed,incident,delete,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888886,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,,processed,incident,delete,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888887,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,,processed,incident,delete,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888889,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,live_message,processed,sys_class_name,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888889,admin,live_message.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888889&sysparm_stack=live_message_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,live_message.mentioned,live_message,queued.30b35203db230300e95a755a8c96193d,,,
1aaaaaaaadhedhjiwuhjkbdjwb888880,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,live_message,processed,like_count,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb188880,admin,live_message.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb188880&sysparm_stack=live_message_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,live_message.mentioned,live_message,queued.30b35203db230300e95a755a8c96193d,,,
1aaaaaaaadhedhjiwuhjkbdjwb288880,admin,live_message.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb288880&sysparm_stack=live_message_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,live_message.mentioned,live_message,queued.30b35203db230300e95a755a8c96193d,,,
1aaaaaaaadhedhjiwuhjkbdjwb288881,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,live_message,processed,profile,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888880,admin,live_message.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888880&sysparm_stack=live_message_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,live_message.mentioned,live_message,queued.30b35203db230300e95a755a8c96193d,,,
1aaaaaaaadhedhjiwuhjkbdjwb188880,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,live_message,processed,group,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb388880,system,,system,system,system,incident.inactivity,incident,ready,34a17cb4c61122b7006b897258cbd702,,
1aaaaaaaadhedhjiwuhjkbdjwb488880,admin,,admin,admin,6816f79cc0a8016401c5a33be04be441,text_index,incident,ready,approval,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb588880,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888885&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,incident_state,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb488881,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888885&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.inserted,incident,processed,6816f79cc0a8016401c5a33be04be441,admin,
1aaaaaaaadhedhjiwuhjkbdjwb688880,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888885&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.inactive,incident,processed,7,0,
1aaaaaaaadhedhjiwuhjkbdjwb788880,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888884&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.inserted,incident,processed,6816f79cc0a8016401c5a33be04be441,admin,
1aaaaaaaadhedhjiwuhjkbdjwb988880,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888884&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,active,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb088880,admin,,admin,admin,6816f79cc0a8016401c5a33be04be441,text_index,incident,ready,category,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb888884,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888884&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.inactive,incident,processed,7,0,
1aaaaaaaadhedhjiwuhjkbdjwb888887,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888887&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.inserted,incident,processed,6816f79cc0a8016401c5a33be04be441,admin,
1aaaaaaaadhedhjiwuhjkbdjwb888887,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb888887&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,incident_state,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb088800,admin,incident.do?sys_id=f949402ddb2c1380e95a755a8c96194b&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,notification_engine.process,incident,processed,8f9389b5c0a8016401715c208ff9bf48,6816f79cc0a8016401c5a33be04be441,
1aaaaaaaadhedhjiwuhjkbdjwb088810,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,report.view,sys_report,processed,19,,report_view
1aaaaaaaadhedhjiwuhjkbdjwb088820,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,report.view.homepage,sys_report,processed,Splunk Alerts (last 7 days),6816f79cc0a8016401c5a33be04be441,report_view
1aaaaaaaadhedhjiwuhjkbdjwb088830,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,report.view.homepage,sys_report,processed,Top Configuration Items with most Splunk Alerts,6816f79cc0a8016401c5a33be04be441,report_view
1aaaaaaaadhedhjiwuhjkbdjwb088840,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,report.view.homepage,sys_report,processed,Services Affected by Splunk Alerts,6816f79cc0a8016401c5a33be04be441,report_view
1aaaaaaaadhedhjiwuhjkbdjwb088831,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,report.view,sys_report,processed,57,3e8f33360a6a803f001e6ab4bdfe584c,report_view
1aaaaaaaadhedhjiwuhjkbdjwb088850,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,report.view.homepage,sys_report,processed,Recent Open Splunk Alerts,6816f79cc0a8016401c5a33be04be441,report_view
1aaaaaaaadhedhjiwuhjkbdjwb088860,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb088860&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,incident.updated,incident,processed,6816f79cc0a8016401c5a33be04be441,admin,
1aaaaaaaadhedhjiwuhjkbdjwb088861,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,incident,processed,calendar_stc,update,text_index
1aaaaaaaadhedhjiwuhjkbdjwb088870,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,incident,processed,hold_reason,update,text_index
1aaaaaaaadhedhjiwuhjkbdjwb008100,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,sys_api_stats_script,processed,status,update,text_index
1aaaaaaaadhedhjiwuhjkbdjwb008200,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,incident,processed,impact,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb008210,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008200&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,active,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb008300,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008300&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,incident.inserted,incident,queued.30b35203db230300e95a755a8c96193d,6816f79cc0a8016401c5a33be04be441,admin,
1aaaaaaaadhedhjiwuhjkbdjwb008301,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008301&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,incident_state,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb008302,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008302&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,notification_engine.process,incident,queued.30b35203db230300e95a755a8c96193d,8f9389b5c0a8016401715c208ff9bf48,6816f79cc0a8016401c5a33be04be441,
1aaaaaaaadhedhjiwuhjkbdjwb008303,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008303&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,admin,6816f79cc0a8016401c5a33be04be441,notification_engine.process,incident,queued.30b35203db230300e95a755a8c96193d,0d539c30c0a80164013cc05fcf7e5573,6816f79cc0a8016401c5a33be04be441,
1aaaaaaaadhedhjiwuhjkbdjwb008400,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008400&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,incident_state,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb008500,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,incident,processed,short_description,insert,text_index
1aaaaaaaadhedhjiwuhjkbdjwb008501,admin,incident.do?sys_id=1aaaaaaaadhedhjiwuhjkbdjwb008501&sysparm_stack=incident_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,metric.update,incident,processed,active,0,metric_update
1aaaaaaaadhedhjiwuhjkbdjwb008600,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,cert_audit,processed,short_description,update,text_index
1aaaaaaaadhedhjiwuhjkbdjwb008700,admin,,admin,system,6816f79cc0a8016401c5a33be04be441,text_index,cert_audit,processed,task_description,update,text_index
,system,,system,system,system,event.transfer,,processed,sysevent0002,sysevent0003,
1aaaaaaaadhedhjiwuhjkbdjwb008900,guest,,guest,system,guest,logout,,processed,admin,,
2aaaaaaaadhedhjiwuhjkbdjwb008900,admin,sys_db_object.do?sys_id=2aaaaaaaadhedhjiwuhjkbdjwb008900&sysparm_stack=sys_db_object_list.do?sysparm_query=active=true,admin,system,6816f79cc0a8016401c5a33be04be441,user.view,sys_db_object,processed,,,