After GC, total memory:120mb, used: 34mb, reclaimed: 210
After GC, total memory:100mb, used: 3mb, reclaimed: 2
After GC, total memory:2050mb, used: 310mb, reclaimed: 100
After GC, total memory:1800mb, used: 1134mb, reclaimed: 210
After GC, total memory:3900mb, used: 3134mb, reclaimed: 679