Table: ua_app_usage, time: 0:00:00.001 {attachments=0:00:00.000, total rows=74, started=2018-02-21 06:21:43,bulk operations time=0:00:00.000, estimated delete count=0, estimate time=0:00:00.000, deleteMethod=chunkDelete}
Table: syslog, time: 0:00:00.000 {total rows=100, started=2017-02-21 08:21:43,bulk operations time=0:00:00.000, estimated delete count=0, estimate time=0:00:00.000, deleteMethod=chunkDelete}
Table: syslog_transaction, time: 0:00:00.000 {total rows=1800, started=2017-02-01 06:20:43,bulk operations time=0:00:00.000, estimated delete count=0, estimate time=0:00:00.000, deleteMethod=chunkDelete}