/api/now/table/syslog?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2016-12-01 00:00:00^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci_vm?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2000-01-01 00:00:00^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/problem?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 05:33:58^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/change_request?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 05:46:53^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/em_event?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2018-02-16 10:28:17^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_choice?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2018-02-13 22:46:18^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci_app_server?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 05:39:31^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmn_location?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-09-19 21:35:23^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/incident?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2018-02-16 10:50:01^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_user?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2018-01-16 07:02:41^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_rel_ci?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2000-01-01 00:00:00^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_audit_delete?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2018-02-15 13:23:55^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci_server?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 05:44:57^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/change_task?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-17 10:50:54^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 09:17:17^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci_service?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2014-11-09 14:51:24^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci_infra_service?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 07:09:31^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/cmdb_ci_db_instance?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2017-10-16 08:55:08^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_user_group?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2015-06-10 05:35:12^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sysevent?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2018-02-16 10:50:01^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/syslog?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2018-02-16 10:43:52^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_audit?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2017-10-16 18:10:37^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/syslog?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2018-01-19 13:33:26^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/incident?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2018-02-16 10:23:22^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_audit?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2018-02-16 10:23:22^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/syslog_transaction?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2016-12-01 00:00:00^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/syslog_transaction?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2018-02-16 10:50:10^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sys_audit?sysparm_exclude_reference_link=true&sysparm_query=sys_updated_on>=2016-12-01 00:00:00^ORDERBYsys_updated_on&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/em_event?sysparm_exclude_reference_link=true&sysparm_query=time_of_event>=2018-02-16 10:28:05^ORDERBYtime_of_event&api=api&sysparm_display_value=all&sysparm_limit=1000
/api/now/table/sysevent?sysparm_exclude_reference_link=true&sysparm_query=sys_created_on>=2018-02-16 10:49:02^ORDERBYsys_created_on&api=api&sysparm_display_value=all&sysparm_limit=1000