/etc/rc2_d/S89PRESERVE
/system/device/mpxio-upgrade:default
/network/install:default
/network/nis/domain:default
/network/ipfilter:default
/network/ipsec/manual-key:default
/network/ipsec/ike:default
/system/name-service-cache:default
/network/ldap/client:default
/network/nis/client:default
/network/inetd-upgrade:default
/network/nfs/status:default
/network/nfs/nlockmgr:default
/network/nfs/cbd:default
/system/idmap:default
/network/rpc/keyserv:default
/network/nfs/client:default
/network/smb/client:default
/system/pools:default
/system/rcap:default
/application/time-slider:default
/application/upnp/coherence:default
/application/security/tcsd:default
/application/time-slider/plugin:rsync
/system/filesystem/reparse:default
/network/nfs/server:default
/application/time-slider/plugin:zfs-send
/application/pkg/system-repository:default
/application/pkg/zones-proxyd:default
/application/pkg/server:default
/network/dns/multicast:default
/application/pkg/dynamic-mirror:default
/application/management/net-snmp:default
/system/console-login:terma
/system/console-login:termb
/network/ipmon:default
/network/http:apache22
/network/ldap/server:openldap_24
/network/security/kadmin:default
/network/security/krb5kdc:default
/network/ipmievd:default
/network/socket-filter:kssl
/network/lms:default
/network/vpanels-http:apache2
/network/loadbalancer/ilb:default
/network/slp:default
/network/routing/rdisc:default
/network/routing/route:default
/network/routing/legacy-routing:ipv4
/network/routing/legacy-routing:ipv6
/network/routing/ripng:default
/system/sar:default
/system/avahi-bridge-dsd:default
/system/fm/asr-notify:default
/system/fm/snmp-notify:default
/system/fm/notify-params:default
/system/pools/dynamic:default
/system/extended-accounting:process
/system/consadm:default
/system/extended-accounting:flow