Microsoft Database Daemon,/Applications/Microsoft Office 2011/Office/Microsoft Database Daemon.app
iTunesHelper,/Applications/iTunes.app/Contents/MacOS/iTunesHelper.app 
EvernoteHelper,/Applications/Evernote.app/Contents/Resources/EvernoteHelper.app 
Google Drive,/Applications/Google Drive.app 
Dropbox,/Applications/Dropbox.app