systemd,--switched-root_--system_--deserialize_21
[kthreadd],<noArgs>
[ksoftirqd/0],<noArgs>
[migration/0],<noArgs>
[rcu_bh],<noArgs>
[rcu_sched],<noArgs>
[kdevtmpfs],<noArgs>
[writeback],<noArgs>
[kintegrityd],<noArgs>
[bioset],<noArgs>
[kblockd],<noArgs>
[md],<noArgs>
[crypto],<noArgs>
[kthrotld],<noArgs>
[kworker/u4:1],<noArgs>
[kmpath_rdacd],<noArgs>
[kpsmoused],<noArgs>
[ipv6_addrconf],<noArgs>
[deferwq],<noArgs>
[kauditd],<noArgs>
[vmw_pvscsi_wq_0],<noArgs>
[ttm_swap],<noArgs>
[kdmflush],<noArgs>
[xfsalloc],<noArgs>
systemd-journald,<noArgs>
lvmetad,-f
[edac-poller],<noArgs>
auditd,<noArgs>
rsyslogd,-n
VGAuthService,-s
vmtoolsd,<noArgs>
systemd-logind,<noArgs>
dbus-daemon,--system_--address=systemd:_--nofork_--nopidfile_--systemd-activation
irqbalance,--foreground
NetworkManager,--no-daemon
polkit-1/polkitd,--no-debug
crond,-n
agetty,--noclear_tty1_linux
chronyd,<noArgs>
sshd,-D
python,-Es_/usr/sbin/tuned_-l_-P
master,-w
qmgr,-l_-t_unix_-u
sftp-server,<noArgs>
-bash,<noArgs>
splunkd,-p_8089_start
pickup,-l_-t_unix_-u
[kworker/1:0],<noArgs>
sh,ps_new.sh
splunk,start