/dev/disk0s1/,ext2,/run/lock
/dev/disk0s2/,ext4,/sys/fs/cpgroup
/dev/disk0s3/,ext3,/run/cgmanager/fs
/dev/disk0s4/,ext4,/opt
/dev/disk1s1/,ext2,/home
/dev/disk1s2/,ext3,/etc
/dev/mapper/centos-root,xfs,/
devtmpfs,devtmpfs,/dev
tmpfs,tmpfs,/dev/shm
tmpfs,tmpfs,/run
tmpfs,tmpfs,/sys/fs/cgroup
/dev/sda1,xfs,/boot
tmpfs,tmpfs,/run/user/0
/dev/hd3,jfs2,/tmp
/dev/hd1,jfs2,/home
/dev/hd10opt,jfs2,/opt
/dev/livedump,?,/var/adm/ras/livedump
/dev/da0s1a,ufs,/
disk0,hfs,/
devfs,,/dev