NetworkManager
acpid
anacron
atd
auditd
autofs
avahi-daemon
avahi-dnsconfd
bluetooth
capi
conman
cpuspeed
crond
cups
dc_client
dc_server
dnsmasq
dovecot
dund
firstboot
gpm
hidd
hplip
httpd
innd
ip6tables
ipmi
iptables
irda
wdaemon
irqbalance
iscsi
iscsid
isdn
kdump
kudzu
lm_sensors
lvm2-monitor
mcstrans
mdmonitor
mdmpd
messagebus
microcode_ctl
multipathd
mysqld
named
nessusd
netconsole
netfs
netplugd
network
nfs
nfslock
nscd
ntpd
oddjobd
pand
pcscd
portmap
postgresql
psacct
rawdevices
rdisc
readahead_early
readahead_later
restorecond
rpcgssd
rpcidmapd
rpcsvcgssd
rwhod
saslauthd
sendmail
setroubleshoot
smartd
smb
snmpd
snmptrapd
spamassassin
squid
sshd
svnserve
syslog
sysstat
tcsd
tux
vmware-tools
vncserver
vsftpd
winbind
wpa_supplicant
xfs
xinetd
ypbind
yum-updatesd