launchd,<noArgs>
syslogd,<noArgs>
uninstalld,<noArgs>
kextd,<noArgs>
fseventsd,<noArgs>
mediaremoted,<noArgs>
appleeventsd,--server
configd,<noArgs>
powerd,<noArgs>
mobileassetd,<noArgs>
logd,<noArgs>
warmd,<noArgs>
mds,<noArgs>
coreduetd,<noArgs>
wdhelper,<noArgs>
opendirectoryd,<noArgs>
wirelessproxd,<noArgs>
apsd,<noArgs>
nbstated,<noArgs>
launchservicesd,<noArgs>
usbmuxd,-launchd
securityd,-i
locationd,<noArgs>
DuetHeuristic-BM,<noArgs>
blued,<noArgs>
autofsd,<noArgs>
revisiond,<noArgs>
loginwindow,console
KernelEventAgent,<noArgs>
logind,<noArgs>
hidd,<noArgs>
corebrightnessd,--launchd
AirPlayXPCHelper,<noArgs>
notifyd,<noArgs>
authd,<noArgs>
coreservicesd,<noArgs>
distnoted,daemon
cfprefsd,daemon
aslmanager,<noArgs>
sandboxd,<noArgs>
com.apple.ctkpcscd,<noArgs>
trustd,<noArgs>
ctkd,-s
WindowServer,-daemon
coreaudiod,<noArgs>
mDNSResponder,<noArgs>
com.apple.audio.Dr,<noArgs>
lsd,runAsRoot
mds_stores,<noArgs>
coresymbolicationd,<noArgs>
systemstats,--xpc
CrashReporterSuppo,server-init
nsurlsessiond,--privileged
nehelper,<noArgs>
usbd,<noArgs>
com.apple.ifdreade,<noArgs>
symptomsd,<noArgs>
awdd,<noArgs>
mDNSResponderHelpe,<noArgs>
com.apple.Performa,<noArgs>
sysmond,<noArgs>
suhelperd,<noArgs>
netbiosd,<noArgs>
watchdogd,<noArgs>
kdc,<noArgs>
com.apple.AmbientD,<noArgs>
com.apple.CodeSign,<noArgs>
askpermissiond,<noArgs>
AppleIDAuthAgent,<noArgs>
imklaunchagent,<noArgs>
nbagent,<noArgs>
universalaccessd,launchd_-s
ARDAgent,<noArgs>
pkd,<noArgs>
SecurityAgent,<noArgs>
ManagedClient,<noArgs>
ctkahp,-d
secinitd,<noArgs>
ctkahp,<noArgs>
ctkd,-tw
fontd,<noArgs>
CVMServer,<noArgs>
systemsoundserverd,<noArgs>
tccd,system
com.apple.AccountP,<noArgs>
coreauthd,<noArgs>
sharedfilelistd,--enable-legacy-services
distnoted,agent
findmydeviced,<noArgs>
installerdiagd,<noArgs>
SubmitDiagInfo,server-init
periodic-wrapper,daily
syspolicyd,<noArgs>
storeaccountd,daemon
nsurlstoraged,<noArgs>
mdflagwriter,<noArgs>
spindump,<noArgs>
installd,<noArgs>
system_installd,<noArgs>