destroy,success,
start,success,
PAM:session_close,success,pam_loginuid
PAM:session_close,failed,pam_selinux
PAM:setcred,success,pam_env
PAM:setcred,failed,pam_unix
PAM:setcred,success,pam_rootok
PAM:session_open,success,pam_loginuid
PAM:session_open,success,pam_keyinit
PAM:session_open,success,pam_selinux
PAM:accounting,success,pam_access
PAM:accounting,success,pam_unix
PAM:accounting,success,pam_succeed_if
login,failed,
login,success,
success,success,
PAM:authentication,success,pam_unix
password,failed,
password,success,
PAM:authentication,failed,pam_rootok
terminate,success,
terminate,failed,
set-pid,failed,
set-pid,success,
destroy,failed,
PAM:chauthtok,failed,?
PAM:chauthtok,success,pam_pwquality