***SPLUNK*** source=protocol sourcetype=protocol host=##host##

IPdropped   TCPrexmits   TCPreorder   TCPpktRecv   TCPpktSent   UDPpktLost  UDPunkPort   UDPpktRecv   UDPpktSent
##IPdropped##  ##TCPrexmits##  ##TCPreorder##  ##TCPpktRecv##  ##TCPpktSent##  ##UDPpktLost## ##UDPunkPort##  ##UDPpktRecv##  ##UDPpktSent##
