USERNAME                        HOME_DIR                                                      USER_INFO
##username##                        ##home_dir##                                                      ##user_info##