root,/root,/sbin/nologin
usrabc,/root,/sbin/nologin
usr1,/root,/sbin/nologin
usr2,/root,/sbin/nologin
usr3,/root,/sbin/nologin
usr4,/,/sbin/nologin
usr5,/,/sbin/nologin
user11,/,/sbin/nologin
postfix,/,/sbin/nologin
testusr,/,/sbin/nologin
newuser,/,/sbin/nologin
usrpqr,/root,/sbin/nologin
ftpuser,/root,/sbin/nologin
bin,/bin,/sbin/nologin
daemon,/sbin,/sbin/nologin
adm,/var/adm,/sbin/nologin
lp,/var/spool/lpd,/sbin/nologin
sync,/sbin,/bin/sync
shutdown,/sbin,/sbin/shutdown
halt,/sbin,/sbin/halt
mail,/var/spool/mail,/sbin/nologin
news,/etc/news,
uucp,/var/spool/uucp,/sbin/nologin
operator,/root,/sbin/nologin
games,/usr/games,/sbin/nologin
gopher,/var/gopher,/sbin/nologin
ftp,/var/ftp,/sbin/nologin
nobody,/,/sbin/nologin
nscd,/,/sbin/nologin
distcache,/,/sbin/nologin
vcsa,/dev,/sbin/nologin
ntp,/etc/ntp,/sbin/nologin
mysql,/var/lib/mysql,/bin/bash
pcap,/var/arpwatch,/sbin/nologin
dbus,/,/sbin/nologin
avahi,/,/sbin/nologin
apache,/var/www,/sbin/nologin
rpc,/,/sbin/nologin
named,/var/named,/sbin/nologin
mailnull,/var/spool/mqueue,/sbin/nologin
smmsp,/var/spool/mqueue,/sbin/nologin
postgres,/var/lib/pgsql,/bin/bash
sshd,/var/empty/sshd,/sbin/nologin
webalizer,/var/www/usage,/sbin/nologin
dovecot,/usr/libexec/dovecot,/sbin/nologin
oprofile,/home/oprofile,/sbin/nologin
squid,/var/spool/squid,/sbin/nologin
rpcuser,/var/lib/nfs,/sbin/nologin
nfsnobody,/var/lib/nfs,/sbin/nologin
xfs,/etc/X11/fs,/sbin/nologin
haldaemon,/,/sbin/nologin
avahi-autoipd,/var/lib/avahi-autoipd,/sbin/nologin
gdm,/var/gdm,/sbin/nologin
sabayon,/home/sabayon,/sbin/nologin