---
- block:
    - get_url:
        url: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        dest: .

    - shell: apt --fix-broken -y install
      become: yes
      changed_when: false

    - shell: dpkg -i google-chrome-stable_current_amd64.deb
      become: yes

    - shell: apt --fix-broken -y install
      become: yes
      changed_when: false

  rescue:
    - apt: update_cache=yes name=chromium-browser state=latest
      register: apt
      become: yes
      changed_when: false
