---
- include_role:
    name: apt-installer

- include_role: name=reboot

- name: generate password file
  shell: | 
    mkdir -p ~/.vnc
    echo "{{ TIGERVNC_PASSWORD }}" | vncpasswd -f > ~/.vnc/passwd
    chmod 600 ~/.vnc/passwd
  changed_when: false
  failed_when: TIGERVNC_PASSWORD is undefined

- name: start vncserver
  shell: | 
    vncserver -kill :1 || ::
    vncserver :1
    vncconfig &
  changed_when: false
