"C1 Transitions/sec",##C1 Transitions/sec##
"C2 Transitions/sec",##C2 Transitions/sec##
"C3 Transitions/sec",##C3 Transitions/sec##
"DPC Rate",##DPC Rate##
"DPCs Queued/sec",##DPCs Queued/sec##
"Interrupts/sec",##Interrupts/sec##