C:\Windows\System32\example_a.exe
C:\Windows\System32\example_b.exe
C:\Windows\System32\example_c.exe
C:\Windows\System32\example_d.exe
C:\Windows\System32\example_e.exe
C:\Windows\System32\example_f.exe
C:\Windows\System32\example_g.exe
