---
- name: install dependencies
  include_role:
    name: apt-installer
  vars:
    package: "{{ item }}"
  loop:
    - libsecret-1-0
    - libsecret-1-dev
    - libatk1.0-0
    - libcairo2
    - libxss1
    - libxkbfile1
    # Core Dependencies
    - libgtk-3-0
    - libxinerama1
    - libxrandr2
    - libsecret-1-0
    - libudev1
    # Optional Feature Dependencies Command
    - libv4l-0
    - libpulse0
    - libuuid1
    - libspeex1
    - libtheora0
#    - libjpeg8-turbo
    # RDP Support
#    - freerdp2-x2go

- name: fix packages
  shell: |
    dpkg --configure -a
    apt --fix-broken -y install
  become: yes
  changed_when: false

- name: fix packages
  shell: |
    dpkg --configure -a
    apt --fix-broken install
  become: yes
  changed_when: false

- name: install horizon client
  apt:
    deb: https://download3.omnissa.com/software/CART26FQ2_LIN64_DEBPKG_2506/Omnissa-Horizon-Client-2506-8.16.0-16536624989.x64.deb
  ignore_errors: yes
  become: yes
  changed_when: false

- name: fix locales
  shell: | 
    export LANGUAGE=en_US.UTF-8
    export LANG=en_US.UTF-8
    export LC_ALL=en_US.UTF-8
    locale-gen en_US.UTF-8
    dpkg-reconfigure --frontend=noninteractive locales
  become: yes
  changed_when: false
