---
- block:
    - name: '{{ BREW }} tap | xargs {{ BREW }} untap -v'
      shell: '{{ BREW }} tap | xargs {{ BREW }} untap -v'
      register: shell
      changed_when:
        - '"Untapping" not in shell.stderr'
      failed_when:
        - '"Untapping" not in shell.stderr'

    - name: '{{ ARCH }} /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall.sh)"'
      shell: '{{ ARCH }} /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall.sh)"'
      register: shell
      become: yes
      become_user: "{{ ansible_facts['user_id'] }}"
      changed_when: "shell.rc != 0"
      failed_when:
        - '"find brew in PATH" not in shell.stderr'
        - '"command not found" not in shell.stderr'
        - "shell.rc != 0"
  rescue:
    - debug: var=shell


- debug: var=shell