---
# configure connector firewall to work correctly with openvpn cloud connector

- name: get default interface
  shell: ip route | grep default | awk '{print $5}'
  register: shell
  changed_when: not shell.stdout
  failed_when: not shell.stdout

- set_fact:
    interface: "{{shell.stdout}}"

- name: configure iptables v4
  shell: |
    if ! iptables-save | grep 'A POSTROUTING -o {{ interface }} -j MASQUERADE'; then 
      iptables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
      iptables-save > /etc/iptables/rules.v4
    fi
  become: yes
  register: shell
  changed_when: not shell.stdout

- name: configure iptables v6
  shell: |
    if ! ip6tables-save | grep 'A POSTROUTING -o {{ interface }} -j MASQUERADE'; then 
      ip6tables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
      ip6tables-save > /etc/iptables/rules.v6
    fi
  become: yes
  register: shell
  changed_when: not shell.stdout

- name: show v4 rules
  shell: cat /etc/iptables/rules.v4
  become: yes
  changed_when: false

- name: show v6 rules
  shell: cat /etc/iptables/rules.v6
  become: yes
  changed_when: false

- name: clone antsable
  git:
    repo: https://github.com/TheShellLand/antsable.git
    dest: "antsable"
  changed_when: false

- name: check exists
  stat:
    path: "antsable/playbooks/openvpn-connector-config.yml"
  register: file
  changed_when: false

- name: enable openvpn iptables rules
  ansible.builtin.cron:
    name: "enable openvpn iptables rules"
    special_time: reboot
    job: "bash antsable/ansible-local.sh playbooks/openvpn-connector-config.yml -v > openvpn-connector-config.log 2>&1"
  changed_when: false

- name: enable openvpn iptables rules check
  ansible.builtin.cron:
    name: "enable openvpn iptables rules check"
    special_time: hourly
    job: "bash antsable/ansible-local.sh playbooks/openvpn-connector-config.yml -v > openvpn-connector-config.log 2>&1"
  changed_when: false
