---
- include_role:
    name: apt-installer
  vars:
    package: "{{ item }}"
  loop:
    - dbus-x11
    - xorg
    - xinit
    - xterm
    - i3
    - i3blocks

- name: Ensure i3 directory exists
  ansible.builtin.file:
    path: ~/.config/i3
    state: directory
    mode: '0700'
  changed_when: false

- name: copy i3 config
  copy:
    src: .config/i3/config
    dest: ~/.config/i3/config
    mode: '0700'
  changed_when: false

- name: Ensure i3blocks directory exists
  ansible.builtin.file:
    path: ~/.config/i3blocks
    state: directory
    mode: '0700'
  changed_when: false

- name: copy i3blocks config
  copy:
    src: .config/i3blocks/config
    dest: ~/.config/i3blocks/config
    mode: '0700'
  changed_when: false

- name: Ensure .vnc directory exists
  ansible.builtin.file:
    path: ~/.vnc
    state: directory
    mode: '0700'
  changed_when: false

- name: copy vnc config
  copy:
    src: .vnc/xstartup
    dest: ~/.vnc/xstartup
    mode: '0700'
  changed_when: false
