---
- include_role:
    name: apt-installer
  vars:
    package: "{{ item }}"
  loop:
    - dbus-x11
    - xorg
    - xinit
    - xterm
    - i3
    - i3blocks

- name: set i3 as default window manager
  shell: update-alternatives --set x-session-manager /usr/bin/i3
  become: yes
  changed_when: false
  when: I3_DEFAULT_WINDOW_MANAGER

- include_role:
    name: i3-config
