---
- name: Apple Silicon
  include_tasks: "Apple Silicon.yml"
  when: |
    ansible_facts.processor == "Apple M1" or
    ansible_facts.processor == "Apple M2" or
    ansible_facts.processor == "Apple M3" or
    ansible_facts.processor == "Apple M4"

- name: "{{ansible_facts.distribution}}"
  include_tasks: "{{ansible_facts.distribution}}.yml"
  when: not WORK

- name: "{{ansible_facts.distribution}} dev"
  include_tasks: "{{ansible_facts.distribution}}-dev.yml"
  when: WORK and not LITE

- name: "{{ansible_facts.distribution}} lite"
  include_tasks: "{{ansible_facts.distribution}}-lite.yml"
  when: WORK and LITE
