---
- name: Apple Silicon
  include_tasks: "Apple Silicon.yml"
  when: |
    ansible_facts.processor == "Apple M1" or
    ansible_facts.processor == "Apple M2" or
    ansible_facts.processor == "Apple M3" or
    ansible_facts.processor == "Apple M4"

- name: "DESKTOP {{ansible_facts.distribution}}"
  include_tasks: "{{ansible_facts.distribution}}.yml"
  when: DESKTOP

- name: "WORK {{ansible_facts.distribution}}"
  include_tasks: "{{ansible_facts.distribution}}-dev.yml"
  when: WORK

- name: "WORK_LITE {{ansible_facts.distribution}}"
  include_tasks: "{{ansible_facts.distribution}}-lite.yml"
  when: WORK_LITE
