---
- set_fact:
    install: /tmp/readyup

- name: temp install
  file: path={{ install }} state=directory

- name: Update cache
  apt: update_cache=yes
  become: yes
  changed_when: false

- name: Install Missing Packages
  shell: apt install -f -y
  register: shell
  changed_when: false
  become: yes

- include_role: name=git
- include_role: name=curl
- include_role: name=tmux
- include_role: name=tigervnc

- include_role:
    name: apt-installer
  vars:
    package: "{{ item }}"
  loop:
    - openbox
    - xorg
    - lightdm

- include_role:
    name: apt-installer
  vars:
    package: sshfs

- include_role:
    name: apt-installer
  vars:
    package: vim

- block:
  - name: Chrome
    apt:
      deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    become: yes
    changed_when: false
#  - name: Chrome beta
#    apt:
#      deb: https://dl.google.com/linux/direct/google-chrome-beta_current_amd64.deb
#    ignore_errors: yes
#  - name: Chrome dev
#    apt:
#      deb: https://dl.google.com/linux/direct/google-chrome-unstable_current_amd64.deb
#    ignore_errors: yes
  - name: Install missing dependencies
    shell: apt install -f -y
    become: yes
    changed_when: false

  rescue:
    - include_role:
        name: apt-installer
      vars:
        package: chromium-browser

- name: autoclean
  apt:
    autoclean: yes
  become: yes
  changed_when: false

- name: autoremove
  apt:
    autoremove: yes
  become: yes
  changed_when: false
