---
- debug:
    var: ansible_facts['virtualization_role']

- name: run everything
  include_tasks: "Debian-all.yml"
  when:
    - not SERVER
    - not SERVER_LITE
    - not RASPBERRYPI

- block:
  - name: SERVER
    include_tasks: "Debian-server.yml"
  when: SERVER

- block:
  - name: SERVER_LITE
    include_tasks: "Debian-serverlite.yml"
  when: SERVER_LITE

- block:
  - name: RASPBERRYPI
    include_tasks: "Debian-raspberrypi.yml"
  when: RASPBERRYPI
