---

- name: Update cache
  apt: update_cache=yes
  become: yes
  changed_when: false

- name: Install Missing Packages
  shell: apt install -f -y
  register: shell
  changed_when: false
  become: yes

- include_role: name=git
- include_role: name=curl
- include_role: name=rsync
- include_role: name=rclone
- include_role: name=tmux

- include_role:
    name: apt-installer
  vars:
    package: software-properties-common

- include_role:
    name: apt-installer
  vars:
    package: sudo

- include_role:
    name: apt-installer
  vars:
    package: cryptsetup

- include_role:
    name: apt-installer
  vars:
    package: python3

- include_role:
    name: apt-installer
  vars:
    package: python3-pip

- include_role:
    name: apt-installer
  vars:
    package: python3-distutils

- include_role:
    name: apt-installer
  vars:
    package: vim

- name: autoclean
  apt:
    autoclean: yes
  become: yes
  changed_when: false

- name: autoremove
  apt:
    autoremove: yes
  become: yes
  changed_when: false
