---
- debug:
    var: ansible_facts['virtualization_role']

- name: LITE
  include_tasks: "Debian-lite.yml"
  when: LITE

- name: SERVER
  include_tasks: "Debian-server.yml"
  when: SERVER

- name: RASPBERRYPI
  include_tasks: "Debian-raspberrypi.yml"
  when: RASPBERRYPI

- name: desktop
  include_tasks: "Debian-desktop.yml"
  when: DESKTOP

#- name: Ubuntu
#  include_tasks: "Ubuntu.yml"
#  when: DESKTOP

- name: SUPERLITE
  include_tasks: "Debian-superlite.yml"
  when: SUPERLITE
