---
- debug:
    var: ansible_facts['virtualization_role']

- block:
  - include_role: name=chrome
  when: CHROME

- block:
    - include_role: name=default-gui
    - include_role: name=default-shell
    - import_tasks: tasks/grub.yml
  when: GUI

- block:
  - name: SERVER
    include_tasks: "Debian-server.yml"
  when: SERVER

- block:
  - name: SERVER_LITE
    include_tasks: "Debian-serverlite.yml"
  when: SERVER_LITE

- block:
  - name: RASPBERRYPI
    include_tasks: "Debian-raspberrypi.yml"
  when: RASPBERRYPI

- block:
  - name: DESKTOP
    include_tasks: "Debian-desktop.yml"
  when: DESKTOP

#- name: Ubuntu
#  include_tasks: "Ubuntu.yml"
#  when: DESKTOP
