---
- name: configure network forwarding
  shell: "{{ item }}"
  become: yes
  register: shell
  changed_when: false
  loop:
    - |
      # Enable IP forwarding
      sudo sed -i 's/#net.ipv4.ip_forward=1/net.ipv4.ip_forward=1/g' /etc/sysctl.conf
      sudo sed -i 's/#net.ipv6.conf.all.forwarding=1/net.ipv6.conf.all.forwarding=1/g' /etc/sysctl.conf
      sudo sysctl -p
    - |
      # Configure NAT
      IF=$(ip route | grep -m 1 default | awk '{print $5}')
      sudo iptables -t nat -A POSTROUTING -o $IF -j MASQUERADE
      sudo ip6tables -t nat -A POSTROUTING -o $IF -j MASQUERADE
      sudo DEBIAN_FRONTEND=noninteractive apt install -y iptables-persistent
