---
- name: enable ipv4 ipv6 forwarding
  shell: |
    echo "Enabling IPv4 forwarding"
    echo "1" > /proc/sys/net/ipv4/ip_forward

    echo "Enabling IPv6 forwarding"
    echo "1" > /proc/sys/net/ipv6/ip_forward
    
    sed -i 's/#net.ipv4.ip_forward=1/net.ipv4.ip_forward=1/g' /etc/sysctl.conf
    sed -i 's/#net.ipv6.conf.all.forwarding=1/net.ipv6.conf.all.forwarding=1/g' /etc/sysctl.conf
    
    sysctl -p
  become: yes
  changed_when: false

- name: get default interface
  shell: ip route | grep -m 1 default | awk '{print $5}'
  register: shell
  failed_when: shell.stderr | length > 0
  changed_when: false

- set_fact:
    interface: "{{shell.stdout}}"

- name: configure iptables v4
  shell: |
    if ! iptables-save | grep 'A POSTROUTING -o {{ interface }} -j MASQUERADE'; then 
      iptables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
      iptables-save > /etc/iptables/rules.v4
      iptables-apply
    fi
  become: yes
  register: shell
  failed_when: shell.stderr | length > 0
  changed_when: false

- name: configure iptables v6
  shell: |
    if ! ip6tables-save | grep 'A POSTROUTING -o {{ interface }} -j MASQUERADE'; then 
      ip6tables -t nat -A POSTROUTING -o {{ interface }} -j MASQUERADE
      ip6tables-save > /etc/iptables/rules.v6
      ip6tables-apply
    fi
  become: yes
  register: shell
  failed_when: shell.stderr | length > 0
  changed_when: false

- name: show v4 rules
  shell: cat /etc/iptables/rules.v4
  become: yes
  changed_when: false

- name: show v6 rules
  shell: cat /etc/iptables/rules.v6
  become: yes
  changed_when: false
