---
- name: "check {{ package }}"
  ansible.builtin.shell: "dpkg -s {{ package }} | grep 'install ok installed'"
  register: package_status_detailed
  ignore_errors: true
  changed_when: false

- name: "install {{ package }}"
  apt:
    name: "{{ package }}"
    state: latest
    update_cache: yes
  become: yes
  register: apt
  changed_when: false
  when:
    - APT_INSTALL
    - ansible_facts is defined
    - package_status_detailed.rc != 0